#products img{          /* makes images consistent in the products cards */
    aspect-ratio: 1/1;
    object-fit: scale-down;
    width: 100%;
}

#cart-items svg {cursor: pointer;} /* makes the cursor better indicate the remove button is clickable */

.modal-header{ justify-content: center; } /* center the modal headers */

#paymentModal .input-group-text { border-radius: 5px 0 0 5px;} /* match the credit card border radius */

#credit-card {border-radius: 0 5px 5px 0; } /* match the input groups border radius */

.confirm-img{           /* keep the confirm cart items image consistent */
    aspect-ratio: 1/1;
    object-fit: scale-down;
    width: 30%;
}

#shopping {
    margin-top: 50px;   /* add some margin so the sticky header isnt covering anything important */
    background-image: url('../assets/leaves.webp'); /* main background image for catalog */
}

.container-fluid{--bs-gutter-x:0;} /* updates the bootstrap variable to better work with the page */